@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root{
  --Stone-100: hsl(30, 54%, 90%) ;
  --Stone-150: hsl(30, 18%, 87%) ;
  --Stone-600: hsl(30, 10%, 34%) ;
  --Stone-900: hsl(24, 5%, 18%) ;
  --Brown-800: hsl(14, 45%, 36%) ;
   --Rose-800: hsl(332, 51%, 32%) ;
  --Rose-50: hsl(330, 100%, 98%) ;
  --White: #ffffff ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
  font-size: 12px;
  font-family: "Outfit" , sans-serif ;
}

body {
  background-color: var(--Stone-100) ;
  color:var(--Brown-800) ;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

.container{
  width : 66.66rem ;
  padding: 3rem; 
  margin: 8rem ;
  border-radius: 20px;
  background-color: var(--White) ;
}

 .header-img{
   width: 100%;
   margin: 0.2rem 0.2rem 1rem 0.2rem;
   border-radius: 10px;
   object-fit: cover;
 }

 section {
  padding : 1.8rem 1.5rem ;
}
      
.section-ingredients{
  background-color: white;
}

h1, h3{
  font-family: "Young Serif", serif;
  font-weight: 400;
  text-transform: capitalize;
 }

 h1{
  font-size: 3.3rem;  
  color: var(--Stone-600); 
  margin: 1.2rem 0;
 }


 h3{
  font-size: 2.4rem;
  color: var(--Brown-800) ;
  margin-top: 0.6rem;
  margin-bottom: 1.5rem;
 }

 h2{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--Rose-800) ;

 }
 
 strong{
  color: var(--Stone-600) ;
 }

 p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--Stone-600);
    text-align: justify;
   }

   .section-preparation{
    padding: 2.5rem;
    background-color: var(--Rose-50);
    border-radius: 10px;
    margin-top: 2.2rem ;
  }
 
  hr{
 
    border: 1px solid var(--Stone-100) ;
  }

          <!----------------- Lists --------------------> 
  ul, ol {
    list-style-position: outside;
    color: var(--Stone-600);
    }

  ol{
      font-weight: 400;
      list-style-type: number;
      margin-left: 2rem;
    }

  li{
    font-size: 1.3rem;
    padding-left: 1ch ;
    margin-top: 0.8rem;
  }  

  ul li{
   color: var(--Stone-600);
   font-weight: 600;
   line-height: 1.5;
   margin-left: 2.5rem;
  }
  
    
  table{
    margin-top: 1rem;
    margin-left: 5rem ;
    width: 50%;
    line-height: 3.5rem;
    color: var(--Stone-600);
    font-size: 1.4rem;
    font-weight: 500;
  }

  td{
     width: 100%;
  }
  
  td:last-child { /* or we can use nth : 2 column */
    font-weight: 900;
    color:var(--Brown-800) ;
  }

  tr:not(:last-child) td { 
    border-bottom: 1px solid #E0E0E0;
}

ol li::marker{
  color: var(--Brown-800);
  font-size: 1.3rem;
  font-weight: 700 ;
}

/* ----- Responsive adjustement------ */

@media (max-width: 768px) {
  html {
      font-size: 11px;
  }
.container{
  margin: 2rem ;
  width: 90vw ;
  padding: 2rem;
}

@media (max-width: 480px) {
  html {
    font-size: 10px;
}
.container{
  margin: 0 ;
  padding: 0;
  width: 100% ;

}
.header-img{
  border-radius: 0;
  margin: 0;
  padding: 0;
}

}
}


